<!-- Выше контент со страниц -->

    </div>
  </section>

  <!--  F O O T E R  -->
  <footer>
    <div class="container">
      <div class="row">
          <div class="col-md-6 col-xs-12">
            <small>
                2023 &copy; All rights reserved.
                Made with ❤️ by <a href="https://www.free-css.com/free-css-templates/page294/the-seo-company">Diego Velázquez</a>
                and
                <a href="https://github.com/MasterGroosha">Aleksandr</a>
            </small>
          </div>
      </div>
    </div>
  </footer>
 </body>
</html>