<!doctype html>
<html lang="en-US">
  <head>
    <!-- Мета-теги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'news/css/bootstrap.min.css' %}" />

    <!-- Прочие Css -->
    <link rel="stylesheet" href="{% static 'news/css/style.css' %}" />

    <title>Сайт новостей</title>
  </head>

  <body>

  <!-- Панель навигации -->
  <nav class="navbar navbar-default navbar-expand-lg fixed-top custom-navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon ion-md-menu"></span>
    </button>
      <a href="/news"><img src="{% static 'news/images/logo.png' %}" class="img-fluid nav-logo-mobile" alt="Company Logo"></a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="container">
          <a href="/news"><img src="{% static 'news/images/logo.png' %}" class="img-fluid nav-logo-desktop" alt="Company Logo"></a>
      </div>
    </div>
  </nav>

  <!-- Основная секция -->
  <section id="hero">
    <div class="container">

    <!-- Далее будет контент со страниц -->